/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/
body {
    margin: 0;
    background-color: white;
}

/* nav bar */

header {
    background-color: #F6F0EB;
    text-align: left;
    font-size: 1.5rem;
    height: 60.67px;
}

nav {
    position: fixed;
}

.header-a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.active {
    background-color: #DAD0C9;
}

a:hover:not(.active, .foot-a) {
    background-color: #E9E2DB;
}

/*elements*/
.bg-tan {
    background-color: #F6F0EB;
}

.bg-green {
    background-color: #757F62;
}

header {
    position: fixed;
    width: 100%;
}

.container {
    padding-top: 60.67px;
}

h1 {
    margin: 0;
    color: #505F38;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h2 {
    font-family: serif;
    font-weight: 400;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 2.5rem;
    margin:0;
    color: white;
}

p {
    font-family: Georgia, serif;
}

.head-logo {
    font-style: normal;
    font-size: 2rem;
    margin: auto;
    padding-top:10px;
    color: #505F38;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.sub1 {
    font-family: 'Open Sans', sans-serif;
    color:#505F38;
}

.sub2 {
    font-family: 'Open Sans', sans-serif;
    color:#505F38;
    margin: 0px;
}

.white-text {
    color: white;
}

form {
    width: 50%;
}

label {
    padding: 70px;
    font-family: 'Open Sans', sans-serif;
    color: #DAD0C9;
}

input {
    border: none;
    border-bottom: 1px solid #505F38;
    height: 20px;
    outline: none;
}

input:focus {
    border: none;
    border-bottom: 2px solid #505F38;
    background-color: #EBF0E4;
}

textarea {
    border: 1.5px solid #505F38;
    font-family: 'Open Sans', sans-serif;
    color: #DAD0C9;
}

/*home-header*/
.home-head {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*footer*/
footer {
    background-color: #757F62;
    height: 100px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, 33%);
}

.foot {
    font-style: normal;
    font-size: 2rem;
    margin: auto;
}

.lenks, .foot-nav {
    text-align: center;
    padding-top: 25px;
}

.foot-a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
/*

                HOMEPAGE
                HOMEPAGE


*/
.welcome {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.center-p {
    width: 55%;
}

.topic-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.topic {
    text-align: left;
    padding: 0px 20px 0px;
}

.topic-p {
    text-align: justify;
}

/*quote*/
.quote {
    font-style: italic;
}

.quote-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin: auto;
    padding-top: 80px;
}

.quote-author {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
}

/*Expertise*/
.expertise {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.listen-spacing {
    margin-bottom: 0px;
}

.expert-spacing {
    padding-bottom: 30px;
}

/*Fieldset*/
fieldset {
    margin-top: 30px;
    border: solid #E9E2DB 2px;
    text-align: center;
    margin-bottom: 30px;
}

.form-container {
    width: 80%;
    margin: 40px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sep-label {
    padding: 0px;
}

.email-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

button {
    margin: 30px auto 0px;
    width: 100px;
    height: 30px;
    background-color: #757F62;
    border: none;
    color: white;
    font-family: 'Georgia', serif;
  }

/*

                ABOUT
                ABOUT


*/
.about-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-text {
    text-align: center;
    width: 40%;
    margin: 100px auto 0px;
}

.sarah-container {
    height: 520px;
    width: 420px;
    border: 2px solid #505F38;
    border-radius: 300px;
    display: flex;
    justify-content: center;
}

.sarah-image {
    height: 500px;
    width: 400px;
    border-radius: 300px;
    margin: auto;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.check-container {
    margin: 25px;
}

.subscribe-check {
    padding: 15px;
}

/*

                FAVORITES
                FAVORITES


*/
.fav-head-container {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book {
    height: 397px;
    width: 245px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}

.book-title {
    margin-top: 20px;
}

.book-summ {
    text-align: left;
    padding: 10px 15px;
}

.book-trio-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

.book-info-fav {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summ-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
}

/*

                REVIEWS
                REVIEWS

*/
.review-head-container {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-review {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.author-spacing {
    margin: 5px;
}

.review {
    margin-left: 25px;
}
